{% extends 'base.html' %}

{% block title %} | Admin{% endblock %}

{% block main %}
<div class="section">
    <div class="container">
        <div class="row center" id="rooms">
            <ul class="tabs tabs-fixed-width">
                {% for room in rooms %}
                <li class="tab col s3"><a href="#room-{{ room.id }}" class="red-text text-darken-4">{{ room.name }}</a></li>
                {% endfor %}
            </ul>

            {% for room in rooms %}
            <div id="room-{{ room.id }}">
                <form class="row" method="post">
                    <input type="hidden" name="id" value="{{ room.id }}">

                    <div class="input-field col m3 s6">
                        <input type="text" name="name" value="{{ room.name }}" id="name{{ room.id }}" required>
                        <label for="name{{ room.id }}" >Name</label>
                    </div>

                    <div class="input-field col m5 s6">
                        <input type="text" name="description" id="description{{ room.id }}"
                            data-length="500" value="{{ room.description if room.description else '' }}">
                        <label for="description{{ room.id }}">Description</label>
                    </div>

                    <div class="input-field col m1 s6">
                        <input type="checkbox" name="reservable" id="reservable{{ room.id }}"
                            class="filled-in" {{ 'checked' if room.reservable else '' }}>
                        <label for="reservable{{ room.id }}">Reservable</label>
                    </div>

                    <input type="hidden" name="csrfToken" value="{{ csrf_token }}">

                    <div class="col m3 s12">
                        <button type="submit" class="btn waves-effect waves-light red darken-4">Save
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <form class="col s12" method="post" action="/admin/login-as">
            Login as&nbsp;
            <div class="input-field inline">
                <input id="id" type="text" name="id" maxlength="8">
                <label for="id">Andrew ID</label>
            </div>

            <input type="hidden" name="csrfToken" value="{{ csrf_token }}">

            <button type="submit" id="login-as" class="btn btn-sm waves-effect waves-light red darken-4">Login
                <i class="material-icons right">supervisor_account</i>
            </button>
        </form>

        <div class="row">
            <form class="col s6" method="post" action="/admin/ban-users">
                Banned users&nbsp;
                <div class="input-field inline" id="banned-users-field">
                    <select multiple name="banned-users" id="banned-users">
                        <option value="" disabled>None</option>
                        {% for user in users|sort(attribute='id') %}
                            {% if not user.admin %}
                                <option value="{{user.id}}" {% if user.banned %} selected {% endif %}>{{user.id}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="banned-users">Andrew ID(s)</label>
                </div>

                <input type="hidden" name="csrfToken" value="{{ csrf_token }}">

                <button type="submit" id="update-bans" class="btn btn-sm waves-effect waves-light red darken-4">Update
                    <i class="material-icons right">check</i>
                </button>
            </form>

            <form class="col s6" method="post" action="/admin/set-admins">
                Admins&nbsp;
                <div class="input-field inline" id="admins-field">
                    <select multiple name="admins" id="admins">
                        <option value="" disabled>None</option>
                        {% for user in users|sort(attribute='id') %}
                            {% if not user.id == sudo %}
                                <option value="{{user.id}}" {% if user.admin %} selected {% endif %}>{{user.id}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="admins">Andrew ID(s)</label>
                </div>

                <input type="hidden" name="csrfToken" value="{{ csrf_token }}">

                <button type="submit" id="update-admins" class="btn btn-sm waves-effect waves-light red darken-4">Update
                    <i class="material-icons right">check</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
{% assets filters=sass, output='gen/admin.css', 'styles/admin.scss' %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block js %}
{% assets filters=babel, output='gen/_admin.js', 'scripts/admin.js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
