{% extends 'base.html' %}

{% block main %}
<div class="section">
  <div class="container">
    <h1 class="center amber-text text-darken-3">TCC Room Reservation System</h1>
    <div class="row center">
      <h4 class="col s12 light" style="margin-bottom: 1.5em; line-height: 48px;">
        Book the Tartan Collaborative Commons' Glass Room
      </h4>

      <a class="btn btn-large waves-effect red darken-4" href="{{ url_for('social.auth', backend='google-oauth2') }}?keep=1">
        <i class="material-icons left">person</i> Login
      </a>
    </div>

  </div>
</div>
{% endblock %}
