{% extends 'base.html' %}

{% block main %}
<div class="section">
    <div class="container">
        <table id="reservations" class="row-border hover stripe centered">
            <thead>
                <tr>
                    {% if user.admin %} <th>User</th> {% endif %}
                    <th>Room</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        {% if user.admin %} <td>{{ reservation.user.id }}</td> {% endif %}
                        <td>{{ reservation.room.name }}</td>
                        <td data-sort="{{ reservation.start.timestamp() }}">
                            {{ reservation.start.strftime('%B %-d, %Y, %I:%M %p') }}
                        </td>
                        <td data-sort="{{ reservation.end.timestamp() }}">
                            {{ reservation.end.strftime('%B %-d, %Y, %I:%M %p') }}
                        </td>
                        <td data-sort="{{ (reservation.end - reservation.start).total_seconds() }}">
                            {{ ':'.join(('%s' % (reservation.end - reservation.start)).split(':')[:-1]) }}
                        </td>
                        <td>{{ 'Cancelled' if reservation.cancelled else ('Past' if reservation.start < now else 'Future') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block css %}
{% assets filters=sass, output='gen/_reservations.css', 'styles/reservations.scss' %}
    {% assets output='gen/reservations.css',
        'datatables.net-dt/css/jquery.dataTables.min.css',
        'datatables.net-fixedheader-dt/css/fixedHeader.dataTables.min.css',
        'gen/_reservations.css'
    %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endassets %}
{% endblock %}

{% block js %}
{% assets filters=babel, output='gen/_reservations.js', 'scripts/reservations.js' %}
    {% assets filters='rjsmin', output='gen/reservations.js',
        'datatables.net/js/jquery.dataTables.min.js',
        'datatables.net-fixedheader/js/dataTables.fixedHeader.min.js',
        'gen/_reservations.js'
    %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endassets %}
{% endblock %}