$indicator-color: #b71c1c;

.tabs {
    font-weight: 500;
    margin-bottom: 1.25em;
    overflow: hidden;

    .indicator {
        background-color: $indicator-color;
    }
}

#banned-users-field {
    width: 40%;
}

#login-as, #update-bans {
    display: inline-block;
    margin-left: 1rem;
    margin-top: .5rem;
}
