$red: #d50000;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

#code-icon {
    position: relative;
    top: 2.5px;
}

#license-container {
    margin-right: -140px;
}

#logo {
    height: 2.1rem;
    margin-right: 5px;
    vertical-align: middle;
}

.input-field {
    input {
        &[type='text'], &[type='email'], &[type='url'] {
            &:focus {
                border-bottom: 1px solid $red;
                box-shadow: 0 1px 0 0 $red;

                & + label {
                    color: $red;
                }
            }
        }
    }

    textarea {
        &:focus {
            // sass-lint:disable-block no-important
            border-bottom: 1px solid $red !important;
            box-shadow: 0 1px 0 0 $red !important;

            & + label {
                color: $red !important;
            }
        }
    }

    .prefix.active {
        color: $red;
    }
}
