$indicator-color: #ff6f00;

.fc table tbody {
    font-size: .9em;
    line-height: 1.25;
}

.tabs {
    margin-bottom: 1em;

    .indicator {
        background-color: $indicator-color;
    }
}

.fc-content, .fc-title {
    display: inline-block;
}

.fc-time-grid-event.fc-short .fc-time {
    span {
        display: inline;
    }

    &::before, &::after {
        content: normal;
    }
}

.cancel-reservation-icon {
    bottom: 1px;
    float: right;
    position: absolute;
    right: 0;
}
