$white: #fff;
$accent: #f44336;
$table-border: #ddd;

#reservations {
    border-bottom: 0;
    margin-bottom: 1rem;
}

// sass-lint:disable class-name-format
.dataTable {
    th {
        border-bottom-color: $table-border !important; //sass-lintt:disable-line no-important
    }
}

.dataTables {
    &_filter {
        input {
            display: inline-block;
            width: auto;
        }
    }

    &_length {
        select {
            display: inline-block;
            width: auto;
        }
    }

    &_paginate {
        .btn-flat {
            padding: 0 1rem;

            &.current {
                background-color: $accent;
                color: $white;
            }
        }
    }
}
// sass-lint:enable class-name-format
